<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin_club">
	
	<!--
	DROP PROCEDURE IF EXISTS p_admin_club_FindAllClubs;
	DELIMITER $$
	CREATE PROCEDURE p_admin_club_FindAllClubs()
	BEGIN
		SELECT * FROM ClubT ORDER BY create_time DESC;
	END$$
	DELIMITER ;
	-->
 	<resultMap id="RM_p_admin_club_FindAllClubs" type="main.vo.ClubVO">
		<result property="club_no" column="club_no" jdbcType="INTEGER" />
		<result property="user_id" column="user_id" jdbcType="VARCHAR" />
		<result property="club_name" column="club_name" jdbcType="VARCHAR" />
		<result property="club_title" column="club_title" jdbcType="VARCHAR" />
		<result property="club_content" column="club_content" jdbcType="VARCHAR" />
		<result property="club_thumb_img" column="club_thumb_img" jdbcType="VARCHAR" />
		<result property="max_member" column="max_member" jdbcType="INTEGER" />
		<result property="create_time" column="create_time" jdbcType="VARCHAR" />
		<result property="l_category_no" column="l_category_no" jdbcType="INTEGER" />
		<result property="c_category_no" column="c_category_no" jdbcType="INTEGER" />
	</resultMap>
	<select id="p_admin_club_FindAllClubs" statementType="CALLABLE" 
		resultMap="RM_p_admin_club_FindAllClubs">
		{call p_admin_club_FindAllClubs()}
	</select>


	<!--
	DROP PROCEDURE IF EXISTS p_admin_club_Remove;
	DELIMITER $$
	CREATE PROCEDURE p_admin_club_Remove(
		IN v_club_no INT
	)
	BEGIN
		DECLARE exit handler FOR SQLEXCEPTION
		BEGIN
			ROLLBACK;
			SIGNAL SQLSTATE '45000';
		END;
		START TRANSACTION;
			DELETE FROM ClubT WHERE club_no = v_club_no;
			DELETE FROM BookingT WHERE club_no = v_club_no;
			DELETE FROM User_ClubT WHERE club_no = v_club_no;
			DELETE FROM Club_NoticeT WHERE club_no = v_club_no;
			DELETE FROM Club_applyT WHERE club_no = v_club_no;
		COMMIT;
	END$$
	DELIMITER ;
	-->
	<parameterMap id="PM_p_admin_club_Remove" type="main.vo.ClubVO" >
		<parameter property="club_no" mode="IN" jdbcType="VARCHAR"/>
	</parameterMap>
	<delete id="p_admin_club_Remove" statementType="CALLABLE" 
		parameterMap="PM_p_admin_club_Remove">
		{call p_admin_club_Remove(?)}
	</delete>
	
	
	<!--
	DROP PROCEDURE IF EXISTS p_admin_club_FindSpecificClub;
	DELIMITER $$
	CREATE PROCEDURE p_admin_club_FindSpecificClub(
		IN v_club_no INT
	)
	BEGIN
		SELECT * FROM ClubT WHERE club_no = v_club_no;
	END$$
	DELIMITER ;
	-->
	<parameterMap id="PM_p_admin_club_FindSpecificClub" type="main.vo.ClubVO" >
		<parameter property="club_no" mode="IN" jdbcType="VARCHAR"/>
	</parameterMap>
 	<resultMap id="RM_p_admin_club_FindSpecificClub" type="main.vo.ClubVO">
		<result property="club_no" column="club_no" jdbcType="INTEGER" />
		<result property="user_id" column="user_id" jdbcType="VARCHAR" />
		<result property="club_name" column="club_name" jdbcType="VARCHAR" />
		<result property="club_title" column="club_title" jdbcType="VARCHAR" />
		<result property="club_content" column="club_content" jdbcType="VARCHAR" />
		<result property="club_thumb_img" column="club_thumb_img" jdbcType="VARCHAR" />
		<result property="max_member" column="max_member" jdbcType="INTEGER" />
		<result property="create_time" column="create_time" jdbcType="VARCHAR" />
		<result property="l_category_no" column="l_category_no" jdbcType="INTEGER" />
		<result property="c_category_no" column="c_category_no" jdbcType="INTEGER" />
	</resultMap>
	<select id="p_admin_club_FindSpecificClub" statementType="CALLABLE" 
		parameterMap="PM_p_admin_club_FindSpecificClub"
		resultMap="RM_p_admin_club_FindSpecificClub">
		{call p_admin_club_FindSpecificClub(?)}
	</select>
	
</mapper>

