<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<mappers>
		<mapper resource="multi/admin/mapper/admin_user_mapper.xml" />
		<mapper resource="multi/admin/mapper/admin_host_mapper.xml" />
		<mapper resource="multi/admin/mapper/admin_notice_mapper.xml" />
		<mapper resource="multi/admin/mapper/admin_faq_mapper.xml" />
		<mapper resource="multi/admin/mapper/admin_o2oQnA_mapper.xml" />
	</mappers>
	
	
</configuration>