<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<mappers>
		<mapper resource="multi/admin/mapper/admin_user_mapper.xml" />
		<mapper resource="multi/admin/mapper/admin_host_mapper.xml" />
	</mappers>
	
	
	<!--
	 여기에 자기꺼 추가해주세요 이런식으로!!
	
	 -->
	
</configuration>